body{
	background: #777;
	font-family: 'Roboto', sans-serif;
	color: #DDD;

	height: 100vh;
	max-height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 0;
}


#bg-grid, #container{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width:100%;
	background-image: url('grid.bmp');
	background-position: center;
	
}

#bg-grid{
	opacity: 0.2;
}

.transformEl{
	transform-origin: 50 50;
	transition: transform 0.2s ease;
}


/***INPUTS POSITIONING AND MATRIX BRACKETS***/
#inputs{
	position: fixed;
	bottom: 10px;
	z-index: 1;
	display: inline-block;
}

#inputs:before, #inputs:after{
	top: 0;
	position: absolute;
	content:'';
	display: block;
	border: 5px solid white;
	height: 90%;
	width: 20px;
}

#inputs:after{
	right: 10px;
	border-left: none;
}

#inputs:before{
	border-right: none;
}


input{
	z-index: 1;
	font-size: 30pt;
    text-align: center;
    width: 100pt;
    border: none;
    background-color: transparent;
    
}

label, input{
	color: white;
}